@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url("Untitled\ design\(12\).png");
    /* background: url("1746382475945.png"); */
   
    /* background: url("Creative\ Writing-1_page-0001.jpg"); */
    /* background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); */
    /* background: #0a0a0a; */
    
    /* background: linear-gradient(135deg, #0f0f0f, #2b0033); */
    /* background: linear-gradient(160deg, #1c1c1c, #3f3f3f); */
    

    background-size: cover;
    background-position: center;
    color: #f0f0f0;

}

.header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 100;
    
}


    


.logo{
   
    font-size: 29px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    position: relative;   
}



img{
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    
    position: absolute;
    top: 17%;
    left: 130px;
    cursor: pointer;
    transition: .5s;
}



img:hover{
    box-shadow: 0 0 50px rgb(255, 251, 251), 0 0 30px rgb(255, 255, 255);

}

.nav{
    
}
.nav a {

    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin: 35px;
    transition: .3s;
}

.nav a:hover,
.nav a.active {
    color: #00dacb;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    
}

.homecont{
    
    font-size: large;
    position: relative;
    max-width: 600px;
    /* margin-top: 180px; */
    margin-left: 50%;
    margin-bottom: 15%;
    
}


.homecont h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.826);
    opacity: 90%;
    margin-bottom: 2px;
}

.homecont h4 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.826);
    opacity: 85%;
    margin-bottom: 40px;
}

.homecont p {
    font-size: 18px;
    /* margin: 30px 0 40px; */
    margin-bottom: 60px;

    color: rgba(255, 255, 255, 0.826);
    opacity: 80%;
    letter-spacing: 1px;
    /*T R L B*/

}

.homecont .btnbox {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    background: transparent;
    margin-bottom: 40px;
    
}

.btnbox a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: rgba(255, 255, 255, 0.826);
    border: 2px solid rgba(255, 255, 255, 0.826);
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    color: #001f3f;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    
}

.btnbox a:nth-child(2) {
    background: transparent;
    color: rgba(255, 255, 255, 0.826);
}


/*Transition of 2nd button*/
.btnbox a:nth-child(2)::before {
    background: rgba(255, 255, 255, 0.826);
}

/* After hovering: without thinking of transition*/
.btnbox a:nth-child(2):hover {
    background: transparent;
    color: #081b29;
}


/* Transition of 1nd button(link)*/
.btnbox a:nth-child(1)::before{
    background: black;
    
    

}

.btnbox a:nth-child(1):hover{
    background: white;
    color: white;
    
}


.btnbox a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
    border-radius: 8px;
    
}

.btnbox a:hover::before {
    width: 100%;
}



.homesci {
    position: absolute;
    
    bottom: 65px;
    width: 300px;
    background: transparent;
    margin-left: 29.6%;
    /* margin-bottom: 14%; */
    
    display: flex;
    justify-content: space-between;

}

.homesci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: transparent;
    border: 2px solid #00ffee;
    font-size: 23px;
    color: #00ffee;
    text-decoration: none;
    border-radius: 50px;
    transition: .5s;
    overflow: hidden;
    z-index: 1;
}

.homesci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 50px;
    background: #00ffee;
    z-index: -1;
    transition: .5s;
    opacity: 100%;
}


/* Transition  */
.homesci a:hover::before{
    width: 100%;
    
}

.homesci a:hover{
    color: black;
    box-shadow: 0 0 20px #00ffee;
}



span{
    color: #00ffee;
}
h4 span{
    position: relative;
    
}
h4 span::before{
    content: '';
    color: rgba(255, 255, 255, 0.826);
    animation: word 5s infinite;
}
h4 span::after{
    content: '';
    background-color: black;
    position: absolute;
    height: 100%;
    width: calc(100% +8px);
    border-left: 3px solid black;
    
    animation: cursor 1s infinite;


}

@keyframes cursor{
    to{
        border-left: 3px solid #a39065;
    }
}

@keyframes word{
    0%,33.33% {
        content: "Ridhima💓";
    }
     
    34.33%,66.66%{
        content: "Remii🗿";
    }
    67.66%,100%{
        content: "Ridhu🐣";
    }
}

.but1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}